@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar {
    scrollbar-color: red white;
    scrollbar-width: thin;
  }
  .scrollbar::-webkit-scrollbar-track {
    background-color: none;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 5px;
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }
}
